* {
    margin: 0;
    padding: 0
}

body {
    background: url('../../static/images/background.png');
}

.topli {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

.topa {
    display: block;
    width: 60px;
}

.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7D954D;
    position: fixed;
    top: 0;
    width: 100%;
}

.topli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topli a:hover {
    background-color: #94aa64;
}

.topli:last-child {
    border-right: none;
}