<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Login.css">
</head>
<body>
<div id="top">
    <div id="topname">Web Note</div>
</div>
<div class="wrapper">
    <div class="header">
    </div>
    <form class="login" action="/subscribe" method="post">
        <ul>
            <li class="logo">
                <img src="../static/images/logo.png" alt="logo" id="logo"/>
            </li>
            <li>
                <div class="text">
                    <span class="username"></span><input type="text" maxlength="15" placeholder="Username">
                </div>
            </li>
            <li>
                <div class="password">
                    <span class="passwordinput"></span><input type="password" maxlength="15" placeholder="Password"
                                                              id="passwordinput">
                </div>
            </li>
            <li class="signup">
                Don't have an account? &nbsp; <a href="Register.html">Sign up</a>
            </li>
            <li>
                <input type="button" value="Sign in">
            </li>
        </ul>
    </form>
</div>
</body>
</html>