<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Register.css">
</head>
<body>
<ul class="top">
    <li class="topli"><a class="topa" href="Login.html">Log in</a></li>
    <li class="topli"><a class="topa" href="">About us</a></li>
</ul>
<div class="wrapper">
    <div class="header">
    </div>
    <form class="register" action="/subscribe" method="post">
        <ul>
            <li class="logo">
                <img src="../static/images/logo.png" alt="logo" id="logo"/>
            </li>
            <li>
                <div class="text">
                    <span class="username"></span><input type="text" placeholder="Username">
                </div>
            </li>
            <li>
                <div class="password">
                    <span class="passwordinput"></span><input type="password" placeholder="Password" id="passwordinput">
                </div>
            </li>
            <li class="promise">
                <input type="checkbox">I won't use this account to do bad things
            </li>
            <li class="signup">
                Already have an account? &nbsp; <a href="Login.html">Sign in</a>
            </li>
            <li>
                <input type="button" value="Sign up">
            </li>
        </ul>
    </form>
</div>
</body>
</html>